/* #linkedin {
  height: 40px;
  width: 40px;
} */

/* #name {
  width: 450px;
  padding-left: 30px;
  padding-top: 10px;
  padding-bottom: 0px;
  margin-bottom: 0px;
  text-align: center;
} */

/* #navbar {
  width: 450px;
} */

/* #nav {
  margin-top: 0px;
  border-top: 2px solid darkgray;
} */
/* 
#footer {
  position: relative;
  padding: 10px;
  text-align: center;
} */

/* .bar {
  border-bottom: 2px solid lightgray;
} */

/* #adobe {
  width: 35px;
  height: 35px;
} */

/* #gitHub {
  width: 35px;
  height: 35px;
} */

/* #linkedIn {
  width: 50px;
  height: 50px;
} */

/* .card {
  float: left;
  padding: 10px;
} */

/* .box {
  text-align: center;
  display: inline-block;
  padding-top: 0px;
} */

/* p {
  padding: -10px;
} */

a,
a:hover,
a:active,
a:visited {
  text-decoration: none;
}

/* .center {
  text-align: center;
  width: 600px;
  margin: auto;
  width: 50%;
  padding: 10px;
} */

.right {
  text-align: right;
}

/* #statement {
  margin-bottom: -50px;
} */

/* .HorizontalLine {
  width: 50%;
  text-align: center;
} */